<div class="footer">
    <div class='flex justify-center'>
        <p class='font-light font-xs italic text-red-800'>The SBA is now actively engaged on social media. Follow us for the latest updates !</p>
    </div>
    <div class="flex justify-center">
        <a href="https://www.linkedin.com/in/votre-profil-linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        <span style="margin: 0 10px;"></span> <!-- Espace entre les icônes -->
        <a href="https://twitter.com/votre-profil-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</div>
