{% load static %}
{% url "special" as url_special %}
{% url "func-list" as url_func %}
{% url "api" as url_api %}
{% url "home" as url_home %}
{% url "news" as url_news %}
{% url "predict" as url_predict %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<header class='bg-light_blue'>
    <nav class='justify-between max-w-6xl mx-auto items-center px-6 h-16 text-base font-semibold hidden md:flex'>
        <a href=" {% url 'home' %} ">
        <img class="h-16 w-auto" src="{% static '/img/SBA-Logo.png' %}" alt="">
        </a>

        <div class="dropdown">
            <!-- Bouton pour la connexion -->
            <a id="login-btn" href="{% url 'login' %}" style="display: {% if user.is_authenticated %}none{% endif %}">
                Login
            </a>
            <!-- Bouton pour l'inscription -->
            <a id="signup-btn" href="{% url 'signup' %}" style="display: {% if user.is_authenticated %}none{% endif %}">
                Signup
            </a>
            <!-- Bouton avec le nom de l'utilisateur et le dropdown -->
            <button onclick="toggleDropdown()" id="user-btn" class="dropbtn" style="display: {% if not user.is_authenticated %}none{% endif %}">
                {{ user.get_username.capitalize }}
                <i class="fa fa-caret-down"></i>
            </button> 
            <div id="dropdown-content" class="dropdown-content" style="display: none;">
                <a href="{% url 'profil' %}">Profile</a>
                <a href="{% url 'custom_logout' %}">Logout</a>
            </div>
        </div>
        

    </nav>
    <div class="navbar">
        <a href="{{ url_home }}">Home</a>
        <a href="{{ url_news }}">News</a>
        <div class="dropdown">
          <button class="dropbtn">Business Guide
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{{ url_func }}">
                Entrepreneurship Essentials</a>
            <a href="#" class="{% if request.path == url_func %}text-red{% endif %}">
                Legal and Compliance Information</a>
            <a href="#" class="{% if request.path == url_func %}text-red{% endif %}">
                Resources</a>
          </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">SBA Funding
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_predict}}" class="{% if request.path == url_func %}text-red{% endif %}">
                    SBA Loan: Check Your Eligibility</a>
                <a href="#" class="{% if request.path == url_func %}text-red{% endif %}">
                    SBA Approved Partners</a>
            </div>
            
          </div> 
      </div>
      
    <script src="{% static 'js/header.js' %}"></script>
</header>
