.centered-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    margin: auto;
    overflow: hidden; /* Assure que les éléments enfants ne débordent pas de la div */
}
.centered-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.4); /* Couleur bleue transparente */
    z-index: 0; /* Assure que le pseudo-élément est en arrière-plan */
}
.centered-div::after {
    content: "";
    background-image: url("/static/img/home_2.72119effc13b.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Assure que l'image de fond est en dessous des autres éléments */
}

.centered-div > * {
    margin-bottom: 20px; /* espacement entre les éléments */
    position: relative; /* Assure que les éléments enfants sont positionnés relativement */
    z-index: 1; /* Assure que les éléments enfants sont au-dessus du pseudo-élément */
}
.centered-div h1,.centered-div p {
    color: white; /* Couleur blanche pour le texte */
}
.centered-div p {
    color: white; /* Couleur blanche pour le texte */
    line-height: 1.5; /* Espacement entre les lignes */
    display: flex; /* Utilisation de flexbox */
    text-align: center;
}
.centered-div h1 {
    color: white; /* Couleur blanche pour le texte */
    font-weight: bold; /* Texte en gras */
    margin-top: 20px; /* Marge supérieure de 20 pixels */
    font-size: 3rem; /* Taille de la police 3xl */
    line-height: 1.25; /* Espacement entre les lignes */
}

.centered-div button {
    border-radius: 20px; /* Bord arrondi */
    background-color: white; /* Fond blanc */
    color: blue; /* Texte bleu */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
}

.centered-div button:hover {
    background-color: lightblue; /* Fond bleu clair au survol */
    color: white; /* Texte blanc au survol */
}

.reseaux {
    display: flex; /* Afficher les éléments en ligne */
    justify-content: center; /* Centrer les éléments horizontalement */
}

.reseaux i {
    margin: 0 10px; /* Marge horizontale entre les icônes */
}