{% extends "base.html" %}

{% load static widget_tweaks %}

{% block content %}

<h1 class="mx-auto text-center pb-10 text-xl font-bold">Machine learning</h1>

<form action="." method="post" class="max-w-md mx-auto">
    {% csrf_token %}
    {{form.sepal_length.label}}
    {{form.sepal_length|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"}}

    {{form.sepal_width.label}}
    {{form.sepal_width|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"}}

    {{form.petal_length.label}}
    {{form.petal_length|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"}}

    {{form.petal_width.label}}
    {{form.petal_width|add_class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"}}

    <button id='submit' type='submit' class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>


</form>

{% if data %}

{{data}}

{% elif error %}

{{e}}

{% endif %}

{% endblock content %}   