{% extends "base.html" %}
{% load static %}
{% url "predict" as url_predict %}
{% block content %}
<head> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-...etc..." crossorigin="anonymous">
</head>

<section>
    <div class="centered-div">
         <h1 class="font-bold mt-20 text-3xl">Small Business<br/>Administration</h1>
         <p>Bienvenue ! Vous êtes une petite entreprise et souhaitez obtenir un prêt<br/> professionnel pour lancer votre activité ? La SBA peut vous aider dans<br/> l'obtention de votre prêt !</p>
         <button><a href="{% url 'predict' %}">Démarrer une simulation</a></button>
    
</section>
{% endblock content %}