{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_extrascripts %}
    <title>forgotpassword</title>
{% endblock head_extrascripts %}
{% block content %}
<h1>Forgot Password</h1>
{% if reset_link %}
    <p>Click the link below to reset your password:</p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
{% else %}
    <p>No reset link available. Please try again later.</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Reset Link</button>
</form>
{% endblock %}