{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container sect">
        <form method="post" class="div1">
            {% csrf_token %}
            <h2 class="h1">Register</h2>
            <div class="form-group form1">
                <label for="email" class="input1">Email:</label>
                {{form.email}}
            </div>
            <div class="form-group form1">
                <label for="username" class="input1">Username:</label>
                {{form.username}}
            </div>
            <div class="form-group form1">
                <label for="password1" class="input1">Password:</label>
                {{form.password1}}
            </div>
            <div class="form-group form1">
                <label for="password2" class="input1">Confirm Password:</label>
                {{form.password2}}
            </div>
            <button type="submit" class="submit-button">Register</button>
        </form>
        <p class="div9">Already have an account? <a href="{% url 'login' %}" class="link2">Login here</a></p>
    </div>
</body>
{% endblock content %}