{% extends 'base.html' %}
{% load static %}
{% block head_extrascripts %}
<title>Email Validation</title>
<style>
    p {
        margin-bottom: 1.5em;
    }
    a {
        color: #007bff;
        text-decoration: underline;
    }
</style>
{% endblock head_extrascripts %}

{% block content %}
    <div>
        <p>Dear {{ user.username }},</p>
        <p>Welcome to our website! Please click the following link to activate your account:</p>
        <a href="{{ validation_link }}">{{ validation_link }}</a>
        <p>If you did not request this, please ignore this email.</p>
        <p>Thank you!</p>
    </div>
{% endblock content %}