{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% include "includes/header.html" %}

    <div class='max-w-7xl mx-auto my-10'>
    {% block content %}{% endblock content %}
    </div>
    {% include "includes/footer.html" %}

    <script src="{% static "js/script.js" %}"></script>
</body>
</html>
