
/* Assurez-vous que la section occupe tout l'espace disponible */
section {
  width: 100%;
  display: flex; /* Utilisation de flexbox */
}

/* Chaque div à l'intérieur de la section occupe 50% de la largeur */
.Signin-container,
.background-container {
  width: 50%;
}

/* Empêche les éléments d'être empilés verticalement */
.Signin-container,
.background-container {
  flex: 1; /* Chaque div occupe 50% de la section */
  display: inline-block; /* Affichage en ligne */
}

/* Ajoutez l'image de fond à la div background-container */
.background-container {
  position: relative; /* Positionnement relatif pour l'image de fond */
}

/* Assurez-vous que la figure occupe 100% de la largeur et de la hauteur de la div */
.background-container figure {
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les rembourrages */
  width: 100%;
  height: 100%;
}

/* Style supplémentaire pour l'image */
.background-container figure img {
  width: 100%; /* Assurez-vous que l'image occupe toute la largeur */
  height: 100%; /* Assurez-vous que l'image occupe toute la hauteur */
  object-fit: cover; /* Remplissez l'espace disponible sans déformation */
}
